$seatch_icon: 'f002'



// topline stiles
.header
  display: block
  &:before
    background-color: $accent-first
    right: 0
    left: 0
    height: 1px
    content: ''
    position: absolute
    z-index: -2
  &:after
    background-color: $accent-first
    right: 0
    left: 0
    margin-top: -44px
    height: 44px
    content: ''
    position: absolute
    z-index: -2
// about company stiles
.brand
  display: flex
  align-items: center
  padding: 15px 0
  width: 100%
  outline: none
  &__img
    display: inline-block
    float: left
  &:hover
    text-decoration: none
  &__text
    color: $accent-second
    display: inline-block
    float: left
    white-space: pre-wrap
    &_md
      font-size: 28px
      line-height: 28px
      font-weight: 600
    &_lg
      font-size: 36px
      line-height: 36px
      font-weight: 500
    &_sm
      font-size: 22px
      line-height: 22px
      font-weight: 600
.search
  display: flex
  align-items: center
  height: 100%
  width: 100%
  padding: 15px 0
  &__form
    width: 100%
    & > button
      border-radius: 0 5px 5px 0
      cursor: pointer
      outline: none
      padding: 0
      width: 30px
      height: 30px
      margin-left: -5px
      line-height: normal
      border: none
      background-color: $block-bg
      color: $accent-second
    & > input
      border-radius: 5px 0 0 5px
      display: inline-block
      cursor: pointer
      outline: none
      padding: 0 5px
      height: 30px
      border: none
      width: calc(100% - 30px)
      color: $accent-second
      background-color: $block-bg
.phones
  height: 100%
  width: 100%
  display: flex
  align-items: flex-end
  justify-content: center
  padding: 15px 0
  flex-direction: column
  &__number
    text-decoration: none
    font-weight: 500
    font-size: 18px
    line-height: 18px
    color: $accent-second
    &:hover
      text-decoration: none
      color: $accent-second
    &::before
      color: $white
      background-color: $accent-first
      padding: 5px 5px
      margin-right: 5px
      font-size: 16px
      margin-bottom: 5px
  &__call-order
    font-size: 14px
    color: $accent-second
    display: block
    margin-top: -10px
    &:hover
      text-decoration: none
      color: $accent-first
.header-menu
  display: flex
  height: 44px
  align-items: center
  &__menu-toggle
    display: none
  &__search-mobile
    display: none
  &__call-order
    display: none
  &__list
    display: flex
    margin: 0
    padding: 0
    list-style: none
    width: 100%
  &__list:after
    display: block
    content: ' '
    clear: both
    float: none
  &__list > li
    float: left
    position: relative
    flex-basis: auto
    flex-grow: 1
    text-align: center
  &__list > li > a
    display: block
    padding: 10px
    color: $white
    background-color: $accent-first
    font-weight: 500
    text-decoration: none
  &__list > li > a:hover
    background-color: $accent-first-hover
  &__list > li:hover > .header-menu__submenu
    display: block
  &__submenu
    position: absolute
    max-width: 400px
    min-width: 200px
    left: 20px
    display: none
    list-style: none
    padding: 0
    margin: 0
  &__submenu > li
    display: block
  &__submenu > li > a
    display: block
    padding: 10px
    color: $white
    background-color: $accent-first
    text-decoration: none
    font-weight: 500
  &__submenu > li > a:hover
    text-decoration: none
    background-color: $accent-first-hover



@import media
